body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #8a2be2;
  text-align: center;
}
button {
  padding: 20px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #0f5d4f;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0f5d4f;
  color: #fff;
}
h2 {
  font-size: 2rem;
  color: #fff;
  margin-top: 20px;
}
